@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../fonts/GT-Walsheim-Pro-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../fonts/GT-Walsheim-Pro-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../fonts/GT-Walsheim-Pro-Bold.ttf");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

html {
  /* background-color: rgba(0, 0, 0, 0.04); */
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 14px;
  /* zoom: 90%; */
}
/* ::-webkit-scrollbar {
  width: 0px;
}
::-moz-scrollbar {
  width: 0px;
} */
.container-body::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}
.container-body::-moz-scrollbar {
  width: 5px;
  height: 6px;
}
/* Track */
.container-body::-webkit-scrollbar-track {
  background: #edf2f7;
}

/* Handle */
.container-body::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 5px;
}

/* Handle on hover */
.container-body::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

/* ========================================================= */
/* DayPicker styles start */
/* ========================================================= */
.DayPicker-Day {
  border-radius: 20% !important;
}

.DayPicker-NavBar {
  position: absolute;
  right: 0;
  top: -14px;
}

.DayPicker-Month {
  width: 100% !important;
  margin: 0 !important;
}

.DayPicker-Day--disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.DayPicker-wrapper {
  padding-bottom: 0 !important;
}

.DayPicker-Day--today {
  color: #00abe7 !important;
}

.DayPicker-Day.DayPicker-Day--selected {
  border-radius: 20% !important;
  color: white !important;
}
/* ========================================================= */
/* DayPicker styles end */
/* ========================================================= */

.gradientText {
  background: linear-gradient(
    90deg,
    #77dcff 3%,
    #ff64ff 28.85%,
    #303030 47.32%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.slick-dots .slick-active div {
  background-color: #00abe7 !important;
}
